body {
  background-color: #00252E;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 375px;
  padding-left: 16px;
  padding-right: 16px;
}